service: secretly

frameworkVersion: '3'

custom:
  tags:
    App: Secretly
    Env: ${opt:stage}

provider:
  name: aws
  stage: ${opt:stage}
  region: ${opt:region}
  memorySize: 128
  tags: ${self:custom.tags}
  stackTags: ${self:custom.tags}
  deploymentBucket:
    tags: ${self:custom.tags}
    blockPublicAccess: true
  environment:
    APP_ENV: prod
    DATABASE_URL: ${env:DATABASE_URL}
    CORS_ALLOWED_ORIGIN: 'https://secretly.tomcant.dev'
  ecr:
    images:
      backend:
        file: Dockerfile.lambda
        path: .

functions:
  backend:
    image: backend
    url: true
