name: Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - main

concurrency:
  group: deploy
  cancel-in-progress: false

jobs:
  test:
    uses: tomcant/secretly/.github/workflows/test.yml@main

  deploy-backend:
    needs: test
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    defaults:
      run:
        working-directory: ./backend
    steps:
      - uses: actions/checkout@v6

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ vars.APP_DEPLOYER_ROLE_ARN }}
          role-session-name: GitHubActions
          aws-region: eu-west-1

      - name: Install Serverless
        run: npm install -g serverless@3.40.0

      - name: Deploy to Lambda
        run: serverless deploy --verbose --conceal --stage prod --region "${AWS_REGION}"
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          BUILDX_NO_DEFAULT_ATTESTATIONS: 1
